@model Sfs.Models.Pessoa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Pessoa</legend>

    <div class="display-label">Nome</div>
    <div class="display-field">@Model.Nome</div>

    <div class="display-label">Matricula</div>
    <div class="display-field">@Model.Matricula</div>

    <div class="display-label">Email</div>
    <div class="display-field">@Model.Email</div>

    <div class="display-label">Senha</div>
    <div class="display-field">@Model.Senha</div>

    <div class="display-label">Inscricoes</div>
    <div class="display-field">@(Model.Inscricoes == null ? "None" : Model.Inscricoes.Count.ToString())</div>

    <div class="display-label">Perfis</div>
    <div class="display-field">@(Model.Perfis == null ? "None" : Model.Perfis.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


