@model Sfs.ViewModels.AtividadeViewModels.CreateViewModel

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.Atividade.Descricao)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Atividade.Descricao)
    @Html.ValidationMessageFor(model => model.Atividade.Descricao)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Atividade.Responsaveis)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Atividade.Responsaveis)
    @Html.ValidationMessageFor(model => model.Atividade.Responsaveis)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Atividade.Transporte)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Atividade.Transporte)
    @Html.ValidationMessageFor(model => model.Atividade.Transporte)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.DataInicio)
</div>
<div class="editor-field" style="margin:0;padding:0">
        @Html.EditorFor(model => model.DataInicio) às @SfsHtml.TimeInput("HoraInicio", 50, Model.HoraInicio.IsEmpty() ? "" : Model.HoraInicio)
        @Html.ValidationMessageFor(model => model.DataInicio)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.DataFim)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.DataFim) às @SfsHtml.TimeInput("HoraFim", 50, Model.HoraFim.IsEmpty() ? "" : Model.HoraFim)
    @Html.ValidationMessageFor(model => model.DataFim)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Atividade.DataLimiteInscricao)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.DataLimiteInscricao) às @SfsHtml.TimeInput("HoraLimiteInscricao", 50, Model.HoraLimiteInscricao.IsEmpty() ? "" : Model.HoraLimiteInscricao)
    @Html.ValidationMessageFor(model => model.DataLimiteInscricao)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Atividade.DataLimiteCancelamento)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.DataLimiteCancelamento) às @SfsHtml.TimeInput("HoraLimiteCancelamento", 50, Model.HoraLimiteCancelamento.IsEmpty() ? "" : Model.HoraLimiteCancelamento)
    @Html.ValidationMessageFor(model => model.DataLimiteCancelamento)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Atividade.NumeroVagas)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Atividade.NumeroVagas)
    @Html.ValidationMessageFor(model => model.Atividade.NumeroVagas)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Atividade.Aberta)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Atividade.Aberta)
    @Html.ValidationMessageFor(model => model.Atividade.Aberta)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Atividade.EstadoAtividade)
</div>
<div>
    @SfsHtml.DropDown(Model.EstadosAtividade, Model.Atividade.EstadoAtividade.Id, "Atividade.IdEstadoAtividade", 340)
    @*Html.DropDownListFor(model => model.Atividade.IdEstadoAtividade, new SelectList(Model._EstadosAtividade, "Id", "Descricao", Model.Atividade.IdEstadoAtividade))*@
</div>
<div class="editor-field">
  <!-- SfsHtml.FileInput() -->
</div>

