@model IEnumerable<Sfs.Models.Atividade> 

@{
    ViewBag.Title = "VisualizarAtividades";
}

<h2>VisualizarAtividades</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataHoraInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataHoraFim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataLimiteInscricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataLimiteCancelamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroVagas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aprovada)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataHoraInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataHoraFim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataLimiteInscricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataLimiteCancelamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroVagas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aprovada)
        </td>
        @using (Html.BeginForm("VisualizarAtividades", "Aluno")) {
            <td><fieldset>
                @{
                <div class="editor-field">@Html.Hidden("id", item.Id)</div>
                }
                @if(!item.Inscricoes.First().Inscritos.Exists(a => a.Matricula == "2011.0004")) {
                    <div class="editor-field">@Html.Hidden("desistir", false)</div>
                <p><input type="submit" class="small button" value="Inscrever-se"></p>
                }
                else {
                <div class="editor-field">@Html.Hidden("desistir", true)</div>
                <p><input type="submit" class="small alert button" value="Desistir"></p> 
                }
                </fieldset></td>
        <td></td>
           
        }
        
    </tr>
}

</table>
