@model Sfs.Models.Atividade

@{
    ViewBag.Title = "Lista para " + Model.Descricao;
}

<h4 style="text-align:center">@Model.Descricao</h4>
<hr />
<br />
<form id="listaAtividade" action="~/Atividade/RedirectToListarAction" method="post">
    <table>
        <thead>
        <tr>
            @{var w = ViewBag.PessoaLogada.IsAdministrador ? "65px" : "30px";}
            <td style="width:@w;">@if (ViewBag.PessoaLogada.IsAdministrador) { <br />@SfsHtml.SelecionarTodosTrigger("listaAtividade") }</td>
            <td style="width:70px;"><b>Matrícula</b></td>
            <td><b>Nome</b></td>
            <td style="width:140px;"><b>Turma</b></td>
        </tr>
            </thead>
        @for (int i = 0; i < Model.Inscricoes.Count; i++)
        {
            var matrícula = Model.Inscricoes[i].Pessoa.Matricula;
            var nome = Model.Inscricoes[i].Pessoa.Nome;
            var turma = Model.Inscricoes[i].Pessoa.Turma;        
        <tr>
        
            <td>@if (ViewBag.PessoaLogada.IsAdministrador && i < Model.Inscricoes.Count)
                { <input type="checkbox" class="listaAtividade" name="IdSelecionados" value="@Model.Inscricoes[i].IdPessoa"/> }  
                @(i < Model.NumeroVagas ? (i + 1).ToString() : "LE")</td>
            <td>@matrícula</td>
            <td>@nome</td>
            <td>@turma</td>
            <td>@Model.Inscricoes[i].CoeficienteSorte</td>
        </tr>
        }

    </table>
    <input type="hidden" name="IdAtividade" value="@Model.Id" />
    @if(ViewBag.PessoaLogada.IsAdministrador) {
        //@SfsHtml.DummyButton("Cancelar inscrições selecionadas", "redirect('CancelarInscricoes')", "small alert button")
        <p style="text-align:right">
            <input type="button" class="small alert button" value="Desafixar" onclick="redirect('DesafixarInscricoes')" />
            <input type="button" class="small success button" value="Fixar" onclick="redirect('FixarInscricoes')" />
            <input type="button" class="small alert button" value="Cancelar Inscrições" onclick="redirect('CancelarInscricoes')" />
        </p>
        //@SfsHtml.DummyButton("Fixar selecionados", "")
        //@SfsHtml.DummyButton("Desafixar selecionados", "redirect('DesafixarInscricoes')")
    }
</form>

<script>
    function redirect(sender) {
        $('#listaAtividade').get(0).setAttribute('action', sender);
        $('#listaAtividade').submit();
    }
</script>
@SfsHtml.SelecionarTodosScript()