@using Sfs.Models

@{
    Pessoa pessoaLogada = ViewBag.PessoaLogada;
    int numMsgs = 0;
    if(pessoaLogada != null) {
        Inbox inbox = ViewBag.Inbox;
        numMsgs = inbox.Mensagens.Where(m => !m.Lida).Count();
    }
    string numMsgsStr = "Inbox " + ((numMsgs == 0) ? String.Empty : "(" + numMsgs.ToString() + ")");
}

<nav class="top-bar">
    <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
            <h1>
                @Html.ActionLink("Sistema de Final de Semana", "Index", "Home")
            </h1>
        </li>
        <li class="toggle-topbar menu-icon">
            <a href="#">
                <span>Menu</span>
            </a>
        </li>
    </ul>

    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            @if (pessoaLogada != null)
            {
                <li class="divider"></li>
                <li class="has-dropdown">
                    <a href="#">
                        @if(numMsgs > 0) {
                            @SfsHtml.SmallImg("mail_warning.png", "Mensagens não lidas")
                        }
                        @pessoaLogada.Email                        
                    </a>
                    <ul class="dropdown">
                        <li>@Html.ActionLink("Alterar senha", "AlterarSenha", "ControleAcesso")</li>
                        <li>@Html.ActionLink(numMsgsStr, "Index", "Inbox")</li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li><a href="#">@pessoaLogada.Pontuacao Pontos</a></li>
                <li class="divider"></li>
                if (pessoaLogada.IsAdministrador)
                {
                    <li class="has-dropdown">
                        <a href="#">Administração</a>
                        <ul class="dropdown">
                            <li>@Html.ActionLink("Pessoas", "Index", "Pessoa")</li>
                            <li>@Html.ActionLink("Perfis de acesso", "Index", "Perfil")</li>
                            <li>@Html.ActionLink("Atividades", "Index", "Atividade")</li>
                            <li>@Html.ActionLink("Parâmetros do Sistema", "Edit", "Parametros")</li>
                            
                        </ul>

                    </li>

                }
            }
            
        </ul>
    </section>
</nav>
